{
  "extends": "airbnb-base"
//  "rules": {
//    "camelcase": [
//      "error",
//      {
//        "ignoreDestructuring": true,
//        "properties": "never",
//        "ignore": ["_id"]
//      }
//    ]
//  }
}
